.about-us-page {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.about-section,
.mission-section,
.values-section,
.how-it-works-section {
    margin-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

h1,
h2 {
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 svg {
    margin-right: 10px;
}

.about-section p,
.mission-section p,
.values-section p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

.how-it-works-section .steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.step {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.step h3 {
    font-size: 1.3em;
    color: #ff99c8;
}

.step p {
    font-size: 1em;
    color: #666;
}

.values-section ul {
    padding-left: 20px;
}

.values-section li {
    margin-bottom: 15px;
}

.values-section li strong {
    font-weight: bold;
}

.values-section p {
    font-size: 1.1em;
    color: #555;
}